.link {
    @include border-radius-m;

    display: block;
    padding: $spacing-2;
    text-decoration: none;
    color: #3315bd;
    font-weight: $font-weight-medium;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover,
    &:focus {
        color: #efe000;
    }

    &.active {
        background: var(--prezly-background-color-tertiary);
        color: #efe000;
    }

    .withMobileDisplay & {
        @include mobile-only {
            @include text-label;

            padding: $spacing-2 $grid-gutter-mobile;
        }
    }
}

.item {
    width: max-content;
    min-width: 100%;
    max-width: 100%;

    &.withMobileDisplay {
        @include mobile-only {
            border: 0;
        }
    }
}
